<br />
<br />
<h1>About</h1>
<br />
<img src="../../assets/about.jpg"><!--https://www.freeimages.com/photo/family-in-beach-margarita-island-1432362-->
<br />
<em>
  Photo by Gabriel Bulla on
  <a class="attribution-link" href="https://www.freeimages.com/photo/family-in-beach-margarita-island-1432362" target="_blank">Free Images</a>
</em>
<p></p>
<p></p>
<p>NodeBucket is a task management web application that will provide a safe and secure login to store all of your ‘to do’ lists.</p>
<p>NodeBucket was born out of necessity. Two working parents (Jane and Rob) going to school, balancing raising three small
children (Sally, Burt, Mary) proved to be more than we could handle. We tried so many ways to balance what we needed to
get done with what we did get done. Sticky notes lost their stick. Dry erase boards were accidentally erased. Todo lists
were too long and became unmanageable. What we quickly learned as well is none of those methods are sharable, without
twice the amount of work and the lack of a single location to make updates. We would redo what each other had done, the
kids had lost or erased, and were pulling our hair out. Thus - the birth of NodeBucket. In addition to more hair, we
gained back our most valuable treasure – time. NodeBucket has done so much more than allow us to be organized, it gave
us back what is priceless – moments with family, hobbies, development time, family activities, and the list could go on
and on. The picture above encapsulates the relief we felt when being able to document and share what we needed to
accomplish as a family within the NodeBucket application. As we shared our accomplishments with coworkers we found a
need and desire for such an application. Not just for the original use case, but for ‘honey do lists’, busy college
students, working professionals, and many more use cases.</p>






