
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
//@import '@angular/material/prebuilt-themes/forest.css';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nodebucket-primary: mat-palette($mat-brown, 500, 700, 800);
$nodebucket-accent: mat-palette($mat-green, 200);
//$forest-app-primary: md-palette($md-brown, 800);       // Brown  <-- CUSTOM COLOR HERE!
//$forest-app-accent:  md-palette($md-green, A400);      // Green  <-- CUSTOM COLOR HERE!


// The warn palette is optional (defaults to red).
$nodebucket-warn: mat-palette($mat-deep-orange, 500);
//$forest-app-warn:    md-palette($md-deep-orange, 500); // Orange <-- CUSTOM COLOR HERE!

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

//$forest-app-theme: md-light-theme($forest-app-primary, $forest-app-accent, $forest-app-warn);

$nodebucket-theme: mat-light-theme((
  color: (
    primary: $nodebucket-primary,
    accent: $nodebucket-accent,
    warn: $nodebucket-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nodebucket-theme);

//@include angular-material-theme($forest-app-theme);
